html {margin:0; padding: 0; height: 100%; -webkit-touch-callout:none; -webkit-user-select:none; }
body {margin:0; padding: 0; width:100% !important; height:100%; overflow:hidden;
    background: linear-gradient(to bottom, rgba(39,92,117,1) 0%,rgba(56,108,153,1) 100%);
    background-image: url(../img/voila_bgr.png);
    background-size: 100% 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

::-webkit-scrollbar-track {display: none;}
::-webkit-scrollbar-track-piece {display:none}
::-webkit-scrollbar-thumb {display:block;}

/* HEADERS DATA */

h2{font-family: 'Patua One', cursive; min-width: 256px; padding:10px;}
h3{font-family: 'Nobile', sans-serif; min-width: 64px; padding:10px;}
h4{font-family: 'Nobile', sans-serif; padding: 5px; font-size: 16px;}
h5{font-family: Arial, Helvetica, sans-serif; font-size:14px; padding: 2px;}

.centered {text-align: center !important;}
.inline {display: inline-block !important; vertical-align: top;}
.hidden {display: none;}
.white {color:#f8f8f8 !important;}
.black {color:#333333 !important;}
.info {font-style: italic; font-size:12px;}
.clearfix {clear:both; width:100%; height:1px;}
.full-width {width:100%;}
.font16 {font-size:16px;}

.highlite-black {background-color:#222222; color: #ffffff; text-align: left; border-radius:4px; padding:5px; }

.text-left {text-align: left !important;}

.navbar {height:76px !important; padding-top:20px !important;}
.navbar-toggle {padding-right:0 !important; margin-right:0; width:44px; height:48px; padding-top: 0; border-color:#f8f8f8 !important; border:none; transition: all 0.2s ease;}
.navbar-toggle:active {border-color:rgb(63,76,107) !important; border:none;}
.icon-bar {border-color: inherit !important;}
.navbar-collapse {/*background: linear-gradient(to bottom, rgba(39,51,68,0.9) 0%,rgba(139,160,183,0.7) 100%) !important;*/ position: absolute; width:100%; height:auto; z-index:1050; top:76px;}
.navbar-outzone {z-index:1040; width:100%; height:100%; background: none; top:0; left:0; position: absolute;}
.navbar-header {padding-top: 10px !important; float: none;}
.navbar-brand {padding:10px 1px 10px 10px !important; max-width:225px !important; height:42px !important; overflow: hidden; font-size:24px; letter-spacing:-0.02em;}

.navbar-nav {float: right; margin-right: 48px;}

.cine_nav_bg_trans {
    background: linear-gradient(to bottom, rgba(39,51,68,1) 0%,rgba(139,160,183,0.4) 100%) !important;
    border:none !important;
}

.cine_nav_bg_none {
    background:linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    background-image: linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    background-image: -webkit-linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    background-image: linear-gradient(rgba(39,51,68,1) 0%,rgba(80,80,100,0) 100%) !important;
    border:none !important;
    position: absolute !important;
}

#cine_fn_view {background:transparent; width:100%;}

/* BUTTON STYLES */

.cine_vcal_button {-webkit-appearance:none; background:none; border:none; border-bottom:1px solid #f9e4e2;}
.vcal_active {background-color: #e7f1c8;}

.cine_fn_simple_btn {
    position: relative; min-width: 24px; min-height: 21px; padding:5px 8px 5px 8px; margin: 0 4px 0 4px;
    color:#f8f8f8; cursor: pointer; background-color:#46b6d1; display: inline-block; font-size: 15px;
    text-align: center; overflow: hidden; border-radius: 4px; text-decoration: none; line-height:1.4;
    border: 1px solid transparent; font-family: 'Source Sans Pro', sans-serif; font-weight:normal;
}
.cine_fn_simple_btn:hover {background-color:#40b0d0 !important;}

.cine_fn_color_btn {
    position: relative !important; min-width: 96px !important; padding:6px 8px 6px 8px !important;
    border-radius: 4px !important; height: auto !important; min-height:40px;
    margin: 4px !important; border:none !important; color:#f8f8f8 !important; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important; background:#0c4f79 !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
}
.cine_btn_active {background:#009900 !important;}


.cine_side_btn {word-break:break-word;word-wrap:break-word; height:100% !important; min-width:48px !important; width:92% !important;}
.cine_common_btn {word-break:break-word;word-wrap:break-word; min-width:32px !important; width:92% !important;}

.cine_narrow_btn {min-width:64px !important;}

.cine_fn_btn_vert_i {background-color:#666666 !important;}
.cine_fn_btn_vert1 {width:96% !important; height:37% !important;}
.cine_fn_btn_vert2 {width:96% !important; height:47% !important;}
.cine_fn_btn_vert3 {width:96% !important; height:30% !important;}
.cine_fn_btn_vert4 {width:96% !important; height:22% !important;}
.cine_fn_btn_vert5 {width:96% !important; height:17% !important;}

.cine_fn_iedit_btn {overflow:hidden !important; text-decoration:none !important; background:#0c4f79 !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
    width:48px !important; border-radius:8px; color:#ffffff; margin:4px 0 4px 0; padding:4px 8px 4px 8px; cursor:pointer; display: inline-block;
    text-align: center; float:left; height:40px; margin-top:-8px;
}
.cine_fn_iedit_cnt {width:95% !important; min-height:48px; font-size:18px !important; padding-top:12px;}

/* .cine_fn_color_btn:hover {background:#135b89 !important;} */
.cine_fn_color_btn_press {}

.cine_fn_cbar {
    display: block; width: 100%; height: 48px; font-family: 'Source Sans Pro', sans-serif; font-weight:normal; font-size: 15px; line-height:1.4; text-align: left;
}
.cine_fn_cbar_elem {
    display: inline-block; height: 34px; padding: 14px 8px 0 8px; margin: 0; cursor: pointer;
}
.cine_fn_cbar_elem:hover {
    background-color: #396668; color: #f8f8f8;
}

/* FORMS DATA */
.cine_fn_form_default {
    width:auto; height: auto; padding: 12px; border: 1px solid #dedede; border-radius: 8px;
    background: #f8f8f8; min-width: 32px; min-height: 32px; display: inline-block;
}
.cine_fn_form_default input {
    width: 100%; min-width: 16px; border: 1px solid #dedede; border-radius: 2px;
    height: 40px; background: #ffffff; display: block;
    margin-top:4px; font-size: 20px;
}
.cine_fn_form_default input[type="submit"], input[type="button"] {
    width:auto; padding: 6px 16px 6px 16px; height: auto; margin: 4px; display: inline-block;
    background: #396668; color:#ffffff; font-size: 15px; font-weight:normal; line-height:1.4;
    border-radius: 4px; cursor: pointer; font-family: 'Source Sans Pro', sans-serif;
}
.cine_fn_form_default select{
    width:auto; max-width: 196px; display: block; margin: 8px 0 4px 0;
}
.cine_fn_form_default textarea{
    min-height: 64px; border: 1px solid #dedede; padding:6px;
}
.cine_fn_form_default label {
    font-style: italic; font-size:12px; text-align: left; width: 100%; display: block; margin-top: 4px; color:#666666;
}
.cine_fn_form_default a {
    font-size: 12px; text-decoration: none;
}
.cine_fn_form_centerer {
    min-width:128px; width:auto; display:inline-block; margin:0 auto; min-height:64px; text-align:center;
}

#cine_fn_login_form, #cine_fn_signup_form, #cine_fn_signup_facebook {
    text-align: center; font-family: 'Open Sans Condensed', sans-serif;
}
#cine_fn_signup_facebook a {
    display: inline-block; background: #143270; padding: 8px; color:#f8f8f8; text-decoration: none; margin:4px;
    border-radius: 2px;
}

.cine_fn_form_search {width: auto; height: auto; display: inline-block; margin: 0 auto;
    min-width: 64px; min-height: 64px; text-align: center;
}
.cine_fn_form_search input {
    height: 32px; color: #666666; font-size: 20px; border: 2px solid #ddeeff; width: 90%; margin:10px 5% 10px 5%;
}
.cine_fn_form_search h2,h3 {padding: 2px; margin: 2px;}

.cine_fn_form_search_submit {
    width:auto !important; height: auto; margin: 4px; display: inline-block;
    background: #396668; border:none !important; cursor: pointer;
    color: #f8f8f8 !important; padding: 6px 16px 6px 16px !important;
    font-size: 15px !important; font-weight:normal; line-height:1.4;
    border-radius: 4px;  font-family: 'Source Sans Pro', sans-serif;
}

/* FRAMES */
.cine_fn_whiteframe {
    border-radius: 8px; background-color: #f8f8f8; border: 4px solid #dedede;
    min-width: 64px; min-height: 64px; color: #222222;
    margin:5px; padding: 8px; display: inline-block;
}

.cine_fn_modal_default {
    position: absolute; display: none; color: #222222; width:100%;
    /*box-shadow: 1px 0 10px 1px rgba(200,200,200,0.75);*/ overflow-x:hidden; overflow-y: hidden;
}
.cine_fn_modal_centerer {
    position:relative; min-width:128px; display:inline-block; margin:0 auto; min-height:64px; text-align:center;
    background-color: #f8f8f8; overflow-x:hidden; overflow-y:scroll; -webkit-overflow-scrolling: touch; width:100% !important;
}

.cinesubmodal {background:#f8f8f8;}

.c_modal_fancy_bg {background:radial-gradient(ellipse at center center , rgba(29, 58, 71, 0.75) 0px, #13141C 80%) repeat scroll 0% 0% transparent;}


.cine_fn_domframe {width:96%; margin:5px 2% 5px 2%; padding:5px 1% 5px 1%; height:auto; clear:both;}
.cine_fn_domframe_l {/*background-color:#dedede;*/ background-color:rgb(0,195,167); font-weight:bold; font-size:14px; width:100%; padding:4px 2% 4px 2%;
    text-align:left; display:inline-block; clear:both; border-radius:3px 3px 0 0; color:#FFFFFF;}
.cine_fn_domframe_c {background-color:#fafafa; width:100%; padding:4px 2% 4px 2%; display:inline-block; border-radius:0 0 3px 3px; overflow:hidden;}

/* PAGE ELEMENTS */
.cine_fn_bg_anima{
    width:100%; height:100%; position:relative; overflow:hidden;}

.cine_fn_mp_contelem{
    width: 100%; height: 100%; position:absolute; z-index:10;}

.cine_fn_resto_list_e { height:auto; padding:5px 1% 5px 1%; position:relative; text-align:left !important;}

.cine_fn_resto_e_title {text-align: left; font-weight: bold; font-size: 16px;}
.cine_fn_resto_e_desc {font-size: 12px; font-style: italic; color:#666666; padding-top: 4px;}
.cine_fn_resto_e_dist {font-size: 13px; text-align: left; color:#555555; padding:5px 5px 5px 0;}

.cine_fn_resto_menu_b {height:40px; width:100%; color:#333333; padding-top:4px; padding-bottom:4px; text-align:left;}
.cine_fn_resto_menu_b_b {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.42857143; height:34px; width:90px;
    padding:5px 8px 8px 24px; color:#f8f8f8; font-weight:300; cursor:pointer; display:inline-block; -webkit-tap-highlight-color: rgba(63,76,107,1) !important; transition: all 0.2s ease;}
.cine_fn_resto_menu_b_t {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.42857143; height:28px; width:230px;
    padding:5px 12px 8px 8px; color:#f8f8f8; font-weight:300; cursor:pointer; display:inline-block; float: right; text-align:right; overflow-y:hidden;}
.c-btn-back {display: inline-block; font-size: 12px; font-family: 'Glyphicons Halflings';
    font-style: normal;  font-weight: 100; padding-top:5px;  line-height: 1;  margin-top: 1px;  left: 8px;  position: absolute;
}
.c-btn-back:before {content:"\e079";}
.cine_fn_resto_menu_b_t:after {clear:left;}

.cine_fn_resto_menu_e {height:auto; width:100%; background-color:#dff0d8; color:#666666; font-weight:300; border-bottom:1px solid #CCCCCC; padding-top: 16px; padding-bottom: 8px; }
.cine_fn_resto_menu_eit {text-align:left; display: inline-block; width:80%; padding:0 1% 0 1%; vertical-align:top;}
.cine_fn_resto_menu_eip {text-align:left; display: inline-block; width:16%; padding:0 1% 0 1%; vertical-align:top;}

.cine_fn_resto_menu_l {font-size:20px; padding-top:6px; height:38px; font-weight:lighter;}

.cine_fn_resto_menu_i_d {width:68%; padding:0 1% 0 1%; display: inline-block; vertical-align: top; overflow:hidden;}
.cine_fn_resto_menu_i_p {width:28%; padding:0 1% 0 1%; display: inline-block; vertical-align: top; overflow:hidden;}
.cine_fn_resto_menu_i_t {width:100%; display:block; text-align:left;}
.cine_fn_resto_menu_i_i {width:100%; display:block; font-style: italic; font-size:12px; text-align:left;}
.cine_fn_resto_menu_i_s {width:100%; display:block; margin-top:10px;}

.cart_fn_cartglyph { font-size: 24px; color:#f8f8f8;font-family:'Glyphicons Halflings'; font-style: normal;font-weight: normal;line-height: 1;}
.cart_fn_cartglyph:before {content:"\e116";}

.cine_fn_rol_i {width:100%;}

.cine_fn_rol_i_tr {padding-bottom:5px; text-align: left !important;}
.cine_fn_rol_i_trl {padding-bottom:5px; text-align: left !important;}
.cine_fn_rol_i_td {text-align: left;}
.cine_fn_rol_i_td h5 {font-weight:normal !important;font-size:12px; margin-top:4px; padding-left:0;}
.cine_fn_rol_i_td h4 {font-weight:normal !important;font-size:14px; margin-top:8px; padding-left:0;}
.cine_fn_rol_i_td div {font-style: italic; width: 120%;}
.cine_fn_rol_i_tq {font-weight:normal !important;font-size:16px; padding:0 2px 0 2px; width:10%;}
.cine_fn_rol_i_tq h4 {font-weight:normal !important;font-size:14px; margin-top:8px; padding-left:0;}
.cine_fn_rol_i_tp {font-weight:normal !important;font-size:16px; padding:0 2px 0 2px;}
.cine_fn_rol_i_tp h4 {font-weight:normal !important;font-size:14px; margin-top:8px; padding-left:0;}

.cine_fn_rol_i_tds {position:relative; text-align:left; width:100% !important; margin-top:2px; margin-left:10px; border-left:1px dotted #aaaaaa; color:#888888;}
.cine_fn_rol_i_tdsi {position:relative; font-size:15px; color:#888888; display:inline-block; padding:0 6px 0 6px; width:80%; min-height:24px;}
.cine_fn_rol_i_tdsil {position:relative;font-size:15px; color:#888888; display:inline-block; padding:0 6px 0 6px; border-bottom:1px solid #DDDDDD; width:80%; min-height:24px;}
.cine_fn_rol_i_tdsp {position:absolute; left:95%; top:0; color:#888888; width:32px !important;}

.cine_fn_rol_i_total{width:100%;}
.cine_fn_rol_i_total tr {width:70%; text-align: left !important;}
.cine_fn_rol_i_total_s{height:32px;}
.cine_fn_rol_i_total_s td h4 {padding:0 !important;}
.cine_fn_rol_i_price{text-align:right !important;}

/* HORIZONTAL BAR ITEM */
.cine_fn_hbar{ font-family: Arial, Helvetica, sans-serif;
    width:100%; background-color:#333333; height: 40px; padding:0; text-align: center;
}
.cine_fn_hbar_in{
    display:inline-block; width:100%;
}
.cine_fn_hbar_logo{display:inline-block; width:auto; height:32px; margin:4px 4px 0 4px; vertical-align: top; float: left;}

.cine_fn_hbar_menu{display:inline-block; width:auto; vertical-align: top; height:38px;}
.cine_fn_hbar_menu a {display: inline-block; vertical-align: top; margin:0 5px 0 5px; text-decoration: none;
    padding:12px 4px 10px 4px; color:#f8f8f8;}
.cine_fn_hbar_menu a:hover,.cine_fn_hbar_menu_active {background-color:#43b9ce; color:#333333; }
.cine_fn_hbar_user a img {height:32px !important;}
.cine_fn_hbar_user{display:inline-block; width:auto; height:32px; margin:4px 4px 0 4px; vertical-align:top; float: right;}
.cine_fn_hbar_user div{display: inline-block; width: auto; height: inherit;}

.cine_fn_cart {width:auto;height:auto;position:relative; content:""; font-family:'Glyphicons Halflings'; font-style: normal;font-weight: normal;line-height: 1;}
.cine_fn_cart_active {width: 28px !important; padding: 2px; height: 28px !important; cursor:pointer; }
.cine_fn_cart_active:before {content:"\e116"; font-size: 28px; color:#f8f8f8; }

/* ENV PANELS */
.cineRoot {text-align: center}

.cine_fn_navenv_nav {
    min-width:10%; max-width:300px; min-height:128px; border-right: 4px solid #cccccc; box-sizing: border-box;
    background-color: #343434; display: inline-block; vertical-align: top;
}

.cine_fn_navenv_view {
    width: auto;  min-height:128px; border:none;
    background-color: #FFFFFF; display: inline-block; vertical-align: top;
}

.cine_fn_navenv_nav a { text-decoration: none; color:inherit;}

.cine_fn_navenv_nav ul {margin: 0; padding: 0; width: 100%; list-style-type: none;}

.cine_fn_navenv_nav ul li {color:#dedede; margin: 0; padding: 0; width: 100%;}

.cine_fn_usermenu_info {border-bottom: 1px solid #cccccc;}

.cine_fn_usermenu_button {cursor: pointer; min-height: 18px; text-align: center;}

.cine_fn_usermenu_button div {padding:8px 0 8px 0;}

.cine_fn_usermenu_button:hover {background-color: #f8f8f8; color:#333333;}

.cine_fn_env_inline {position:relative; display:inline-block; min-width: 64px; min-height: 64px; vertical-align: top;}

.cine_fn_env_inline img {width: inherit;}


/* Specific */
.cine_fn_resto_cpanel {
    display: inline-block; width: auto; min-width: 320px; min-height: 700px; margin: 0; text-align: left;
}

.cine_fn_resto_itembox { position: relative;
    display:inline-block; width:auto; min-width:15%; min-height:128px; margin:4px 1% 4px 1%; vertical-align:top; background-color: #cd6e00;
    cursor:pointer; padding:0 1% 0 1%; color:#f8f8f8;
}

.cine_fn_resto_itembox h4,p {padding:4px; margin:4px;}

.cine_fn_resto_sidemenu {width:96%; height:auto; position:relative; margin:1%; padding:1%;}
.cine_fn_resto_sidemenu h4 {margin:4px; padding:2px;}
.cine_fn_resto_sidemenu div {display:inline-block;vertical-align:top;padding:4px 1% 4px 1%;}

.cine_fn_resto_sm_ina {
    color:#333333 !important; font-size:15px !important; width: 28%; padding:5px 1% 5px 1%; height:64px; display: inline-block;
    border:1px #dedede solid; cursor: pointer; vertical-align: top; text-align: center
}
.cine_fn_resto_sm_act {background:#396668; color:#f8f8f8! important; }

.cine_fn_resto_itemsep {
    display:inline-block; width:auto; min-width:1%; min-height:128px; margin:0 0 4px 0; vertical-align:top;
}

/* MANAGEMENT */

.cine_fn_resto_ctrl {
    margin:4px; padding: 4px; width: 100%; display: block;
}
.cine_fn_resto_ctrl_btn {

}

/* USER APP ENV */
.cine_fn_userinfo {width:100%; min-height:100px;}
.cine_fn_userinfo td {min-height: 50px;}
.cine_fn_avatar_big {background:#f8f8f8;border-color:#dedede; width:96px; height: 96px; display: inline-block;}
.cine_fn_userinfo_btn {padding:10px 0 10px 0;}

/* PANE TABBED PANE CLASSES */
.pane-sw-active {height:64px; float:left; border-top:1px solid #dedede; width:50%; text-align:center; padding:20px 2% 10px 2%; font-size:20px; background-color:#FFFFFF; display:inline-block; vertical-align:top;}
.pane-sw-inactive {height:64px; float:left; width:50%; text-align:center; color:#ffffff; padding:20px 2% 10px 2%; background-color:transparent; font-size:20px; display:inline-block; vertical-align:top;}
.pane-sw-left {}
.pane-sw-right {}

.cine-list-item {min-height: 48px; width: 100%; padding:12px; font-size:16px; border-bottom:1px #CCCCCC dotted; cursor:pointer; overflow:hidden; }
.cine-list-item-f {display:inline-block; vertical-align:top;}
.cine-list-item-a {background-color:#ddeeff;}

    /* spec for resto control */
    .c-list-stat{width:2%; height:32px; margin-right:2%; text-align: center;}
    .c-list-id {width:10%; text-align: left;}
    .c-list-date {width:50%; text-align: center;}
    .c-list-price {width:30%; text-align: right;}

    .black {background-color: #222222;}
    .grey {background-color: #273646;}
    .green {background-color: #4CC94A;}
    .red {background-color: #a94442;}
    .blue {background-color: aqua;}
    .yellow {background-color: gold;}
    .purple {background-color: mediumvioletred;}

    .cineLayerPaneFw {height: 100%; overflow-x:hidden; overflow-y:scroll !important;}
    .cineLayerPane30 {display: inline-block; vertical-align:top; width:30%; padding:1%; overflow: hidden; position: relative; min-height: 32px;}
    .cineLayerPane40 {display: inline-block; vertical-align:top; width:40%; padding:1%; overflow: hidden; position: relative; min-height: 32px;}
    .cineLayerPane50 {display: inline-block; vertical-align:top; width:50%; padding:1%; overflow: hidden; position: relative; min-height: 32px;}
    .cineLayerPane60 {display: inline-block; vertical-align:top; width:60%; padding:1%; overflow: hidden; position: relative; min-height: 32px;}
    .cineLayerPane70 {display: inline-block; vertical-align:top; width:70%; padding:1%; overflow: hidden; position: relative; min-height: 32px;}

    .c-menu-cont {display:block; height:85%; width:100%; text-align:left; overflow-y:scroll;}
    .c-menu-btn {display:block; height:15%; width:100%; text-align:center; padding-top:1%; padding-bottom:1%;}
    .c-menu-items {display:inline-block; vertical-align:top;  width:23%; height:150px; color:#ffffff; margin:1%; text-align: center; padding:25px 0 0 0; font-size:24px; position: relative; background-color: #34373b;}
    .c-smenu-items {display:inline-block; vertical-align:top;  width:12%; height:86px; color:#ffffff; margin:4px; text-align:center; padding:25px 0 0 0; font-size:16px; position: relative; background-color: #34373b;}
    .c-smenu-items-a {background-color: paleturquoise !important; color:#262626;}
    .c-orders-refresh { font-size:32px; color:#f8f8f8; font-family:'Glyphicons Halflings'; font-style:normal;font-weight:normal; line-height:1; height:40px; width:40px; transform-origin: center center; -webkit-transform-origin: 16px 16px;}
    .c-orders-refresh:before {content:"\e031";}
    .c-orders-refresh-click {-webkit-animation:spin 1s linear; -moz-animation:spin 1s linear;  animation:spin 1s linear;}

    .c-btn-delete {font-size:20px; color:#f8f8f8; font-family:'Glyphicons Halflings'; font-style:normal;font-weight:normal; line-height:1; margin-top:2px;}
    .c-btn-delete:before {content:"\e020";}

    @-moz-keyframes spin { 100% { -moz-transform: rotate(720deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(720deg); } }




/* NOTIFY */

.c_notify_layer {
    position: absolute; z-index:10001; top:0; left:0; box-sizing: border-box; width: 100%;
    text-align: left; min-height: 56px; color:#f8f8f8; padding-top:28px;
    background-color: transparent;
    background-image:linear-gradient(to bottom, rgba(41,49,66,1) 0%,rgba(51,58,86,0.9) 70%,rgba(45,52,81,0.8) 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px; line-height:1.4; font-weight: 300;
}

.c_notify_i {
    display: block; position: relative; width: 100%; height: auto; min-height: 64px;
}

.c_notify_i:after {clear:left;}

.c_notify_i_c {
    display: inline-block; width: 85%; min-height:64px; vertical-align: top; padding:10px 10px 8px 10px;
}

.c_notify_i_b {
    display:block; width:32px; min-height: 64px; vertical-align: top;
    text-align: right; position: absolute; overflow: hidden; right:10px; top:0;
}

.c_notify_b_b {
    display: inline-block; height:40px; width:32px; font-size:26px; overflow: hidden;
    background-color: transparent !important; border:none !important; line-height:0 !important; letter-spacing:0; position: relative;
}

.c_notify_b_b:after {clear: left;}


/* MODIFIERS */

.fullwidth {width:100% !important; left:0 !important; margin-left:0 !important;}
.fullheight {height:100% !important;}
.tripleheight {height:75% !important;}
.halfwidth {width:50% !important;}

